/* ---------- buttons  ----------  */
.btn {
  text-transform: uppercase;
  overflow: hidden;
  display: inline-grid;
}
.btn-white {
  background-color: $white;
}
.link-line {
  display: inline-block;
  text-decoration: none;
  &:hover {
    opacity: 1;
    &::after {
      transform: scaleX(0.7);
    }
  }
  &::after {
    content: '';
    display: block;
    height: 1px;
    margin-top: 0.4rem;
    background: $dark;
    transition: all 0.3s cubic-bezier(.61,1.85,.91,.65);
    transform-orgin: center;
  }
}
/* ---------- end of buttons  ----------  */